In [1]:
import pandas as pd 
import numpy as np

In [2]:
movies = pd.read_csv('dataset\imdb-top-1000.csv')

In [3]:
movies.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0

In [4]:
genres = movies.groupby('Genre')

In [5]:
# APply bultin aggregate functions 
# mean, sum, count, min, max
genres.sum()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,The Dark KnightThe Lord of the Rings: The Retu...,2008200320102001200219991980197719621954200019...,22196,1367.3,Christopher NolanPeter JacksonChristopher Nola...,Christian BaleElijah WoodLeonardo DiCaprioElij...,72282412,3.263226e+10,10499.0
Adventure,InterstellarBack to the FutureInglourious Bast...,2014198520091981196819621959201319751963194819...,9656,571.5,Christopher NolanRobert ZemeckisQuentin Tarant...,Matthew McConaugheyMichael J. FoxBrad PittJürg...,22576163,9.496922e+09,5020.0
Animation,Sen to Chihiro no kamikakushiThe Lion KingHota...,2001199419882016201820172008199719952019200920...,8166,650.3,Hayao MiyazakiRoger AllersIsao TakahataMakoto ...,Daveigh ChaseRob MinkoffTsutomu TatsumiRyûnosu...,21978630,1.463147e+10,6082.0
Biography,Schindler's ListGoodfellasHamiltonThe Intoucha...,1993199020202011200220171995198420182013201320...,11970,698.6,Steven SpielbergMartin ScorseseThomas KailOliv...,Liam NeesonRobert De NiroLin-Manuel MirandaÉri...,24006844,8.276358e+09,6023.0
Comedy,GisaengchungLa vita è bellaModern TimesCity Li...,2019199719361931200919641940200120001973196019...,17380,1224.7,Bong Joon HoRoberto BenigniCharles ChaplinChar...,Kang-ho SongRoberto BenigniCharles ChaplinChar...,27620327,1.566387e+10,9840.0
Crime,The GodfatherThe Godfather: Part II12 Angry Me...,1972197419571994200219991995199120192006199519...,13524,857.8,Francis Ford CoppolaFrancis Ford CoppolaSidney...,Marlon BrandoAl PacinoHenry FondaJohn Travolta...,33533615,8.452632e+09,6706.0
Drama,The Shawshank RedemptionFight ClubForrest Gump...,1994199919941975202019981946201420061998198819...,36049,2299.7,Frank DarabontDavid FincherRobert ZemeckisMilo...,Tim RobbinsBrad PittTom HanksJack NicholsonSur...,61367304,3.540997e+10,19208.0
Family,E.T. the Extra-TerrestrialWilly Wonka & the Ch...,19821971,215,15.6,Steven SpielbergMel Stuart,Henry ThomasGene Wilder,551221,4.391106e+08,158.0
Fantasy,Das Cabinet des Dr. CaligariNosferatu,19201922,170,16.0,Robert WieneF.W. Murnau,Werner KraussMax Schreck,146222,7.827267e+08,0.0
Film-Noir,The Third ManThe Maltese FalconShadow of a Doubt,194919411943,312,23.9,Carol ReedJohn HustonAlfred Hitchcock,Orson WellesHumphrey BogartTeresa Wright,367215,1.259105e+08,287.0
Horror,PsychoAlienThe ThingThe ExorcistNight of the L...,19601979198219731968196120171978193320042001,1123,87.0,Alfred HitchcockRidley ScottJohn CarpenterWill...,Anthony PerkinsSigourney WeaverKurt RussellEll...,3742556,1.034649e+09,880.0
Mystery,MementoRear WindowVertigoShutter IslandKahaani...,200019541958201020121995197219381988201219981997,1429,95.7,Christopher NolanAlfred HitchcockAlfred Hitchc...,Guy PearceJames StewartJames StewartLeonardo D...,4203004,1.256417e+09,633.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,1.755074e+07,81.0
Western,"Il buono, il brutto, il cattivoOnce Upon a Tim...",1966196819651976,593,33.4,Sergio LeoneSergio LeoneSergio LeoneClint East...,Clint EastwoodHenry FondaClint EastwoodClint E...,1289665,5.822151e+07,313.0

In [11]:
# find the top 3 genre by total earning
movies.groupby('Genre')['Gross'].sum().sort_values(ascending=False).head(3)

Genre
Drama     3.540997e+10
Action    3.263226e+10
Comedy    1.566387e+10
Name: Gross, dtype: float64

In [13]:
# find the genre with the highest average rating
movies.groupby('Genre')['IMDB_Rating'].mean().sort_values(ascending=False).head(3)

Genre
Western    8.350000
Crime      8.016822
Fantasy    8.000000
Name: IMDB_Rating, dtype: float64

In [15]:
# find the director with most popularity
movies.groupby('Director')['No_of_Votes'].sum().sort_values(ascending=False).head(3)

Director
Christopher Nolan    11578345
Quentin Tarantino     8123208
Steven Spielberg      7817166
Name: No_of_Votes, dtype: int64

In [17]:
# find the higest rated movie of each genre
movies.groupby('Genre')['IMDB_Rating'].max().sort_values(ascending=False).head(3)

Genre
Drama     9.3
Crime     9.2
Action    9.0
Name: IMDB_Rating, dtype: float64

In [21]:
# find the no. of movies done by each actor
# movies['Star1'].value_counts()
movies.groupby('Star1')['Series_Title'].count().sort_values(ascending=False).head(3)

Star1
Tom Hanks         12
Robert De Niro    11
Clint Eastwood    10
Name: Series_Title, dtype: int64

In [36]:
# Groupby attributes and methods
# find total no. of group
# len (movies.groupby('Genre'))

# how many rows in group 
# movies.groupby('Genre').size()

# first / last item of very group
genre = movies.groupby('Genre')
# genre.first()
# genre.last()
# genre.nth(6)

# get the group of each genre
genre.get_group('Horror')

# groups 
genre.groups # index of movies of every genre

# describe 
movies.groupby('Genre').describe()

#sample
genre.sample(2,replace = True)

# nunique
genre.nunique()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,172,61,78,15,123,121,172,172,50
Adventure,72,49,58,10,59,59,72,72,33
Animation,82,35,41,11,51,77,82,82,29
Biography,88,44,56,13,76,72,88,88,40
Comedy,155,72,70,11,113,133,155,155,44
Crime,106,56,65,14,86,85,107,107,39
Drama,289,83,95,14,211,250,288,287,52
Family,2,2,2,1,2,2,2,2,2
Fantasy,2,2,2,2,2,2,2,2,0
Film-Noir,3,3,3,3,3,3,3,3,3
Horror,11,11,10,8,10,11,11,11,9
Mystery,12,11,10,8,10,11,12,12,7
Thriller,1,1,1,1,1,1,1,1,1
Western,4,4,4,4,2,2,4,4,4

In [44]:
# agg methods
# passing dict
# genre.agg({
#     'Runtime':'mean',
#     'IMDB_Rating':'mean',
#     'No_of_Votes':'sum',
#     'Gross':'sum',
#     'Metascore':'mean'
# })

# passing list 
genre.agg(['min','max','sum'])


# adding the both 

genre.agg({
    'Runtime': ['mean','max'],
    'IMDB_Rating':['mean','max'],
    'No_of_Votes':['sum','max'],
    'Gross':['sum','mean'],
    'Metascore':'mean'
})

              Runtime      IMDB_Rating      No_of_Votes           \
                 mean  max        mean  max         sum      max
Genre
Action     129.046512  321    7.949419  9.0    72282412  2303232
Adventure  134.111111  228    7.937500  8.6    22576163  1512360
Animation   99.585366  137    7.930488  8.6    21978630   999790
Biography  136.022727  209    7.938636  8.9    24006844  1213505
Comedy     112.129032  188    7.901290  8.6    27620327   939631
Crime      126.392523  229    8.016822  9.2    33533615  1826188
Drama      124.737024  242    7.957439  9.3    61367304  2343110
Family     107.500000  115    7.800000  7.8      551221   372490
Fantasy     85.000000   94    8.000000  8.1      146222    88794
Film-Noir  104.000000  108    7.966667  8.1      367215   158731
Horror     102.090909  122    7.909091  8.5     3742556   787806
Mystery    119.083333  138    7.975000  8.4     4203004  1129894
Thriller   108.000000  108    7.800000  7.8       27733    27733
Western    148.250000  165    8.350000  8.8     1289665   688390

                  Gross                Metascore
                    sum          mean       mean
Genre
Action     3.263226e+10  1.897224e+08  73.419580
Adventure  9.496922e+09  1.319017e+08  78.437500
Animation  1.463147e+10  1.784326e+08  81.093333
Biography  8.276358e+09  9.404952e+07  76.240506
Comedy     1.566387e+10  1.010572e+08  78.720000
Crime      8.452632e+09  7.899656e+07  77.080460
Drama      3.540997e+10  1.225259e+08  79.701245
Family     4.391106e+08  2.195553e+08  79.000000
Fantasy    7.827267e+08  3.913633e+08        NaN
Film-Noir  1.259105e+08  4.197018e+07  95.666667
Horror     1.034649e+09  9.405902e+07  80.000000
Mystery    1.256417e+09  1.047014e+08  79.125000
Thriller   1.755074e+07  1.755074e+07  81.000000
Western    5.822151e+07  1.455538e+07  78.250000

In [54]:
# # looping on groups
# df = pd.DataFrame(columns =movies.columns)
# for group,data in genre :
#     df = df.append(data[data['IMDB_Rating'] == data['IMDB_Rating'].max()])
# # version per aab nhi hai

In [59]:
df_list = []

for group, data in genre:
    top_rated = data[data['IMDB_Rating'] == data['IMDB_Rating'].max()]
    df_list.append(top_rated)

df = pd.concat(df_list, ignore_index=True)
df.head(17)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
1,Interstellar,2014,169,Adventure,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017.0,74.0
2,Sen to Chihiro no kamikakushi,2001,125,Animation,8.6,Hayao Miyazaki,Daveigh Chase,651376,10055859.0,96.0
3,Schindler's List,1993,195,Biography,8.9,Steven Spielberg,Liam Neeson,1213505,96898818.0,94.0
4,Gisaengchung,2019,132,Comedy,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844.0,96.0
5,La vita è bella,1997,116,Comedy,8.6,Roberto Benigni,Roberto Benigni,623629,57598247.0,59.0
6,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
7,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
8,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
9,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
10,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
11,The Third Man,1949,104,Film-Noir,8.1,Carol Reed,Orson Welles,158731,449191.0,97.0
12,Psycho,1960,109,Horror,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000.0,97.0
13,Memento,2000,113,Mystery,8.4,Christopher Nolan,Guy Pearce,1125712,25544867.0,80.0
14,Rear Window,1954,112,Mystery,8.4,Alfred Hitchcock,James Stewart,444074,36764313.0,100.0
15,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
16,"Il buono, il brutto, il cattivo",1966,161,Western,8.8,Sergio Leone,Clint Eastwood,688390,6100000.0,90.0

In [60]:
# split( apply) combine 
# split - groupby
# apply - aggregate function
# combine - concat
# split - apply - combine

genre.apply(min)

C:\Users\tayya\AppData\Local\Temp\ipykernel_16392\1239018816.py:7: FutureWarning: The provided callable <built-in function min> is currently using np.minimum.reduce. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string np.minimum.reduce instead.
  genre.apply(min)
C:\Users\tayya\AppData\Local\Temp\ipykernel_16392\1239018816.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  genre.apply(min)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,,
Action,300,1924,45,Action,7.6,Abhishek Chaubey,Aamir Khan,25312,3296.0,NaN
Adventure,2001: A Space Odyssey,1925,88,Adventure,7.6,Akira Kurosawa,Aamir Khan,29999,61001.0,NaN
Animation,Akira,1940,71,Animation,7.6,Adam Elliot,Adrian Molina,25229,128985.0,NaN
Biography,12 Years a Slave,1928,93,Biography,7.6,Adam McKay,Adrien Brody,27254,21877.0,NaN
Comedy,(500) Days of Summer,1921,68,Comedy,7.6,Alejandro G. Iñárritu,Aamir Khan,26337,1305.0,NaN
Crime,12 Angry Men,1931,80,Crime,7.6,Akira Kurosawa,Ajay Devgn,27712,6013.0,NaN
Drama,1917,1925,64,Drama,7.6,Aamir Khan,Abhay Deol,25088,3600.0,NaN
Family,E.T. the Extra-Terrestrial,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,Fantasy,7.9,F.W. Murnau,Max Schreck,57428,337574718.0,NaN
Film-Noir,Shadow of a Doubt,1941,100,Film-Noir,7.8,Alfred Hitchcock,Humphrey Bogart,59556,449191.0,94.0
Horror,Alien,1933,71,Horror,7.6,Alejandro Amenábar,Anthony Perkins,27007,89029.0,46.0
Mystery,Dark City,1938,96,Mystery,7.6,Alex Proyas,Bernard-Pierre Donnadieu,33982,1035953.0,NaN
Thriller,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,"Il buono, il brutto, il cattivo",1965,132,Western,7.8,Clint Eastwood,Clint Eastwood,65659,5321508.0,69.0

In [63]:
# find the numbre of movies staring with A for each group

def foo ( group):
    # print(group['Series_Title'].str.startswith('A').sum())
    return group['Series_Title'].str.startswith('A').sum()

genre.apply(foo)

C:\Users\tayya\AppData\Local\Temp\ipykernel_16392\2518209081.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  genre.apply(foo)

Genre
Action       10
Adventure     2
Animation     2
Biography     9
Comedy       14
Crime         4
Drama        21
Family        0
Fantasy       0
Film-Noir     0
Horror        1
Mystery       0
Thriller      0
Western       0
dtype: int64

In [64]:
# find the ranking of each movie in thte group according to IMDB score
def rank(group):
    group['Rank'] = group['IMDB_Rating'].rank(ascending=False)
    return group


genre.apply(rank).head(10)

C:\Users\tayya\AppData\Local\Temp\ipykernel_16392\3539699227.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  genre.apply(rank).head(10)

                                                Series_Title Released_Year  \
Genre
Action 2                                     The Dark Knight          2008
       5       The Lord of the Rings: The Return of the King          2003
       8                                           Inception          2010
       10  The Lord of the Rings: The Fellowship of the Ring          2001
       13              The Lord of the Rings: The Two Towers          2002
       14                                         The Matrix          1999
       16     Star Wars: Episode V - The Empire Strikes Back          1980
       29                                          Star Wars          1977
       30                                            Seppuku          1962
       31                               Shichinin no samurai          1954

           Runtime   Genre  IMDB_Rating           Director              Star1  \
Genre
Action 2       152  Action          9.0  Christopher Nolan     Christian Bale
       5       201  Action          8.9      Peter Jackson        Elijah Wood
       8       148  Action          8.8  Christopher Nolan  Leonardo DiCaprio
       10      178  Action          8.8      Peter Jackson        Elijah Wood
       13      179  Action          8.7      Peter Jackson        Elijah Wood
       14      136  Action          8.7     Lana Wachowski    Lilly Wachowski
       16      124  Action          8.7     Irvin Kershner        Mark Hamill
       29      121  Action          8.6       George Lucas        Mark Hamill
       30      133  Action          8.6   Masaki Kobayashi    Tatsuya Nakadai
       31      207  Action          8.6     Akira Kurosawa     Toshirô Mifune

           No_of_Votes        Gross  Metascore  Rank
Genre
Action 2       2303232  534858444.0       84.0   1.0
       5       1642758  377845905.0       94.0   2.0
       8       2067042  292576195.0       74.0   3.5
       10      1661481  315544750.0       92.0   3.5
       13      1485555  342551365.0       87.0   6.0
       14      1676426  171479930.0       73.0   6.0
       16      1159315  290475067.0       82.0   6.0
       29      1231473  322740140.0       90.0   9.0
       30        42004  373978394.0       85.0   9.0
       31       315744     269061.0       98.0   9.0

In [71]:
# find the  normalized IMDB rating group group wise

def normal(group):
    group['norm_rating '] = (group['IMDB_Rating'] - group['IMDB_Rating'].mean()) //( group['IMDB_Rating'].max() - group['IMDB_Rating'].min())
    return group

genre.apply(normal)

C:\Users\tayya\AppData\Local\Temp\ipykernel_16392\1452219746.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  genre.apply(normal)

                                                   Series_Title Released_Year  \
Genre
Action   2                                      The Dark Knight          2008
         5        The Lord of the Rings: The Return of the King          2003
         8                                            Inception          2010
         10   The Lord of the Rings: The Fellowship of the Ring          2001
         13               The Lord of the Rings: The Two Towers          2002
...                                                         ...           ...
Thriller 700                                    Wait Until Dark          1967
Western  12                     Il buono, il brutto, il cattivo          1966
         48                        Once Upon a Time in the West          1968
         115                         Per qualche dollaro in più          1965
         691                             The Outlaw Josey Wales          1976

              Runtime     Genre  IMDB_Rating           Director  \
Genre
Action   2        152    Action          9.0  Christopher Nolan
         5        201    Action          8.9      Peter Jackson
         8        148    Action          8.8  Christopher Nolan
         10       178    Action          8.8      Peter Jackson
         13       179    Action          8.7      Peter Jackson
...               ...       ...          ...                ...
Thriller 700      108  Thriller          7.8      Terence Young
Western  12       161   Western          8.8       Sergio Leone
         48       165   Western          8.5       Sergio Leone
         115      132   Western          8.3       Sergio Leone
         691      135   Western          7.8     Clint Eastwood

                          Star1  No_of_Votes        Gross  Metascore  \
Genre
Action   2       Christian Bale      2303232  534858444.0       84.0
         5          Elijah Wood      1642758  377845905.0       94.0
         8    Leonardo DiCaprio      2067042  292576195.0       74.0
         10         Elijah Wood      1661481  315544750.0       92.0
         13         Elijah Wood      1485555  342551365.0       87.0
...                         ...          ...          ...        ...
Thriller 700     Audrey Hepburn        27733   17550741.0       81.0
Western  12      Clint Eastwood       688390    6100000.0       90.0
         48         Henry Fonda       302844    5321508.0       80.0
         115     Clint Eastwood       232772   15000000.0       74.0
         691     Clint Eastwood        65659   31800000.0       69.0

              norm_rating
Genre
Action   2             0.0
         5             0.0
         8             0.0
         10            0.0
         13            0.0
...                    ...
Thriller 700           NaN
Western  12            0.0
         48            0.0
         115          -1.0
         691          -1.0

[1000 rows x 11 columns]

In [79]:
# groupby on multiple cols 
duo = movies.groupby(['Director','Star1'])
duo.get_group(('Aamir Khan','Amole Gupte'))

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
65,Taare Zameen Par,2007,165,Drama,8.4,Aamir Khan,Amole Gupte,168895,1223869.0,NaN

In [81]:
# find the most earning actor --> director combo
duo['Gross'].sum().sort_values(ascending=False)

Director              Star1
Akira Kurosawa        Toshirô Mifune     2.999877e+09
Anthony Russo         Joe Russo          2.205039e+09
Billy Wilder          William Holden     1.286779e+09
Christopher Nolan     Christian Bale     1.242940e+09
Werner Herzog         Klaus Kinski       1.124605e+09
                                             ...
Jeong-beom Lee        Won Bin            6.460000e+03
Shane Meadows         Paddy Considine    6.013000e+03
Jaco Van Dormael      Jared Leto         3.600000e+03
Thomas Jahn           Til Schweiger      3.296000e+03
Anders Thomas Jensen  Ulrich Thomsen     1.305000e+03
Name: Gross, Length: 898, dtype: float64

In [85]:
# find the best actor--> genre combo in meta score wise
movies.groupby(['Star1','Genre'])['Metascore'].mean().reset_index().sort_values(by='Metascore', ascending=False).head(10)

               Star1      Genre  Metascore
230   Ellar Coltrane      Drama      100.0
329  Humphrey Bogart      Drama      100.0
360    James Stewart    Mystery      100.0
77       Bertil Guve      Drama      100.0
590     Orson Welles      Drama      100.0
127       Cary Grant      Drama      100.0
606    Peter O'Toole  Adventure      100.0
140  Charlton Heston      Crime       99.0
653   Robert Mitchum      Crime       99.0
278       Gene Kelly     Comedy       99.0

In [86]:
# agg on multilpe groupby
duo.agg(['min','max','sum'])

                                                  Series_Title  \
                                                           min
Director            Star1
Aamir Khan          Amole Gupte               Taare Zameen Par
Aaron Sorkin        Eddie Redmayne  The Trial of the Chicago 7
Abdellatif Kechiche Léa Seydoux                 La vie d'Adèle
Abhishek Chaubey    Shahid Kapoor                  Udta Punjab
Abhishek Kapoor     Amit Sadh                      Kai po che!
...                                                        ...
Zaza Urushadze      Lembit Ulfsak                  Mandariinid
Zoya Akhtar         Hrithik Roshan    Zindagi Na Milegi Dobara
                    Vijay Varma                      Gully Boy
Çagan Irmak         Çetin Tekindor              Babam ve Oglum
Ömer Faruk Sorak    Cem Yilmaz                        G.O.R.A.

                                                                \
                                                           max
Director            Star1
Aamir Khan          Amole Gupte               Taare Zameen Par
Aaron Sorkin        Eddie Redmayne  The Trial of the Chicago 7
Abdellatif Kechiche Léa Seydoux                 La vie d'Adèle
Abhishek Chaubey    Shahid Kapoor                  Udta Punjab
Abhishek Kapoor     Amit Sadh                      Kai po che!
...                                                        ...
Zaza Urushadze      Lembit Ulfsak                  Mandariinid
Zoya Akhtar         Hrithik Roshan    Zindagi Na Milegi Dobara
                    Vijay Varma                      Gully Boy
Çagan Irmak         Çetin Tekindor              Babam ve Oglum
Ömer Faruk Sorak    Cem Yilmaz                        G.O.R.A.

                                                               Released_Year  \
                                                           sum           min
Director            Star1
Aamir Khan          Amole Gupte               Taare Zameen Par          2007
Aaron Sorkin        Eddie Redmayne  The Trial of the Chicago 7          2020
Abdellatif Kechiche Léa Seydoux                 La vie d'Adèle          2013
Abhishek Chaubey    Shahid Kapoor                  Udta Punjab          2016
Abhishek Kapoor     Amit Sadh                      Kai po che!          2013
...                                                        ...           ...
Zaza Urushadze      Lembit Ulfsak                  Mandariinid          2013
Zoya Akhtar         Hrithik Roshan    Zindagi Na Milegi Dobara          2011
                    Vijay Varma                      Gully Boy          2019
Çagan Irmak         Çetin Tekindor              Babam ve Oglum          2005
Ömer Faruk Sorak    Cem Yilmaz                        G.O.R.A.          2004

                                               Runtime                Genre  \
                                     max   sum     min  max  sum        min
Director            Star1
Aamir Khan          Amole Gupte     2007  2007     165  165  165      Drama
Aaron Sorkin        Eddie Redmayne  2020  2020     129  129  129      Drama
Abdellatif Kechiche Léa Seydoux     2013  2013     180  180  180      Drama
Abhishek Chaubey    Shahid Kapoor   2016  2016     148  148  148     Action
Abhishek Kapoor     Amit Sadh       2013  2013     130  130  130      Drama
...                                  ...   ...     ...  ...  ...        ...
Zaza Urushadze      Lembit Ulfsak   2013  2013      87   87   87      Drama
Zoya Akhtar         Hrithik Roshan  2011  2011     155  155  155     Comedy
                    Vijay Varma     2019  2019     154  154  154      Drama
Çagan Irmak         Çetin Tekindor  2005  2005     112  112  112      Drama
Ömer Faruk Sorak    Cem Yilmaz      2004  2004     127  127  127  Adventure

                                    ... IMDB_Rating No_of_Votes          \
                                    ...         sum         min     max
Director            Star1           ...
Aamir Khan          Amole Gupte     ...         8.4      168895  168895
Aaron Sorkin        Eddie Redmayne  ...         7.8       89896   89896
Abdellatif Kechiche Léa Seydoux     ...         7.7      138741  138741
Abhishek Chaubey    Shahid Kapoor   ...         7.8       27175   27175
Abhishek Kapoor     Amit Sadh       ...         7.7       32628   32628
...                                 ...         ...         ...     ...
Zaza Urushadze      Lembit Ulfsak   ...         8.2       40382   40382
Zoya Akhtar         Hrithik Roshan  ...         8.1       67927   67927
                    Vijay Varma     ...         8.0       31886   31886
Çagan Irmak         Çetin Tekindor  ...         8.3       78925   78925
Ömer Faruk Sorak    Cem Yilmaz      ...         8.0       56960   56960

                                                  Gross               \
                                       sum          min          max
Director            Star1
Aamir Khan          Amole Gupte     168895    1223869.0    1223869.0
Aaron Sorkin        Eddie Redmayne   89896  853090410.0  853090410.0
Abdellatif Kechiche Léa Seydoux     138741    2199675.0    2199675.0
Abhishek Chaubey    Shahid Kapoor    27175  218428303.0  218428303.0
Abhishek Kapoor     Amit Sadh        32628    1122527.0    1122527.0
...                                    ...          ...          ...
Zaza Urushadze      Lembit Ulfsak    40382     144501.0     144501.0
Zoya Akhtar         Hrithik Roshan   67927    3108485.0    3108485.0
                    Vijay Varma      31886    5566534.0    5566534.0
Çagan Irmak         Çetin Tekindor   78925  461855363.0  461855363.0
Ömer Faruk Sorak    Cem Yilmaz       56960  196206077.0  196206077.0

                                                Metascore
                                            sum       min   max   sum
Director            Star1
Aamir Khan          Amole Gupte       1223869.0       NaN   NaN   0.0
Aaron Sorkin        Eddie Redmayne  853090410.0      77.0  77.0  77.0
Abdellatif Kechiche Léa Seydoux       2199675.0      89.0  89.0  89.0
Abhishek Chaubey    Shahid Kapoor   218428303.0       NaN   NaN   0.0
Abhishek Kapoor     Amit Sadh         1122527.0      40.0  40.0  40.0
...                                         ...       ...   ...   ...
Zaza Urushadze      Lembit Ulfsak      144501.0      73.0  73.0  73.0
Zoya Akhtar         Hrithik Roshan    3108485.0       NaN   NaN   0.0
                    Vijay Varma       5566534.0      65.0  65.0  65.0
Çagan Irmak         Çetin Tekindor  461855363.0       NaN   NaN   0.0
Ömer Faruk Sorak    Cem Yilmaz      196206077.0       NaN   NaN   0.0

[898 rows x 24 columns]

Exercise

In [87]:
ipl = pd.read_csv('dataset\deliveries.csv')

In [91]:
ipl.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [89]:
ipl.shape

(179078, 21)

In [ ]:
# find the top 10 batsman in terms of runs scored 
ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(10)

batsman
V Kohli           5434
SK Raina          5415
RG Sharma         4914
DA Warner         4741
S Dhawan          4632
CH Gayle          4560
MS Dhoni          4477
RV Uthappa        4446
AB de Villiers    4428
G Gambhir         4223
Name: batsman_runs, dtype: int64

In [100]:
# find the batsman with max no. of sixes 
sixes = ipl[ipl['batsman_runs']== 6]

sixes.groupby('batsman')['batsman'].count().sort_values(ascending=False).head(10)

batsman
CH Gayle          327
AB de Villiers    214
MS Dhoni          207
SK Raina          195
RG Sharma         194
V Kohli           191
DA Warner         181
SR Watson         177
KA Pollard        175
YK Pathan         161
Name: batsman, dtype: int64

In [109]:
# find the batsman with most no. of 4's and 6's in lat 5 overs
last_overs = ipl[ipl ['over']> 15 ]
last_overs = last_overs[(last_overs['batsman_runs'] == 4) | (last_overs['batsman_runs'] == 6)]
last_overs.groupby('batsman')['batsman'].count().sort_values(ascending=False).head(10)

batsman
MS Dhoni          340
AB de Villiers    208
RG Sharma         208
KA Pollard        206
V Kohli           160
YK Pathan         149
KD Karthik        145
Yuvraj Singh      130
AD Russell        129
AT Rayudu         114
Name: batsman, dtype: int64

In [113]:
# Vriat kohli record against all teams
vk = ipl[ipl['batsman'] == 'V Kohli']
vk.groupby('bowling_team')['batsman_runs'].sum().reset_index()

               bowling_team  batsman_runs
0       Chennai Super Kings           749
1           Deccan Chargers           306
2            Delhi Capitals            66
3          Delhi Daredevils           763
4             Gujarat Lions           283
5           Kings XI Punjab           636
6      Kochi Tuskers Kerala            50
7     Kolkata Knight Riders           675
8            Mumbai Indians           628
9             Pune Warriors           128
10         Rajasthan Royals           370
11   Rising Pune Supergiant            83
12  Rising Pune Supergiants           188
13      Sunrisers Hyderabad           509

In [115]:
# Create a function that can return the higest score of any batsman
vk = ipl[ipl['batsman'] == 'V Kohli']
vk.groupby('match_id')['batsman_runs'].sum().sort_values(ascending=False).head(10)

match_id
626      113
620      109
611      108
11326    100
595      100
438       99
7907      93
432       93
11153     84
562       82
Name: batsman_runs, dtype: int64

In [116]:
def highest_score(batsman):
    player = ipl[ipl['batsman'] == batsman]
    return player.groupby('match_id')['batsman_runs'].sum().sort_values(ascending=False).head(1)

In [117]:
highest_score('V Kohli')

match_id
626    113
Name: batsman_runs, dtype: int64